.contactItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.147);
  box-sizing: border-box;
  transition: all 0.4s ease-in-out;

  &:hover,
  &:focus {
    background-color: #cfcfcf0c;
    border: 0.5px solid var(--accent-color);
  }

  &__name,
  &__number {
    font-size: 14px;
    letter-spacing: 1.3px;
    text-transform: uppercase;
  }

  &__number {
    margin-top: 5px;
  }

  &__btn {
    display: none;
    background-color: transparent;
    border: transparent;
  }
}

.contactItem:hover .contactItem__btn,
.contactItem:focus .contactItem__btn {
  display: block;
}

@media screen and (min-width: 768px) {
  .contactItem {
    flex-direction: row;
    align-content: center;
    padding: 15px;
    flex-shrink: 1;

    &:hover,
    &:focus {
      background-color: #cfcfcf0c;

      border: 0.5px solid var(--accent-color);
    }

    &__name {
      font-size: 16px;
      margin-left: 40px;
      margin-right: 20px;
      min-width: 150px;
      width: calc(45% - 150px);
    }

    &__number {
      font-size: 14px;
      width: 45%;
      margin-right: auto;
      margin-top: 0;
    }

    &__btn {
      margin-right: 20px;
      margin-left: auto;
    }
  }
}
