.userMenu__name {
  font-size: 14px;
  letter-spacing: 1.3px;
  font-weight: 600;
}

.userMenu__btn {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 0;
  margin-left: auto;
  font-size: 14px;
  border: 1px solid var(--dark-gray-color);
  background-color: var(--dark-gray-color);
  padding: 5px 10px;
}

@media screen and (min-width: 768px) {
  .userMenu__wrap {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
  }

  .userMenu__name {
    font-size: 16px;
  }

  .userMenu__btn {
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 15px;
  }
}
